*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: white;
  font-family: "Alata", sans-serif;
}

.main {
  padding: 8rem 2rem;
}

.centered {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 600px;
  background: url(../../public/images/desktop/image-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem;
}
.header__navbar .nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  list-style: none;
}
.header__navbar .nav-items .nav-item {
  position: relative;
  cursor: pointer;
}
.header__navbar .nav-items .nav-item:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1rem;
  transform: translateX(-50%);
  width: 1.8rem;
  height: 3px;
  background-color: white;
  border-radius: 5rem;
}
.header__navbar .toggle-menu {
  display: none;
}
.header__banner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
  margin-top: -7rem;
}
.header__banner .banner-content {
  border: 2px solid white;
  padding: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media screen and (max-width: 68.4em) {
  .header__navbar .nav-items {
    display: none;
  }
  .header .toggle-menu {
    display: block;
    cursor: pointer;
  }
  .header__banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  .header__banner .banner-content {
    padding: 2rem 1rem;
    font-size: 4rem;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}
.mobile-menu__header {
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu__header .close-icon {
  cursor: pointer;
}
.mobile-menu__nav-items {
  margin-top: 3rem;
  padding: 3rem 2rem;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}
.mobile-menu__nav-items .nav-item {
  padding: 2rem 0;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}
.mobile-menu__nav-items .nav-item:hover {
  color: #8c8c8c;
  transform: translateX(10px);
}

.show {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.about {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.about__image-box {
  flex: 1;
}
.about__image-box img {
  width: 100%;
  height: 100%;
  display: block;
}
.about__about-contents {
  flex: 1;
  margin-left: -200px;
  background-color: white;
}
.about__about-contents .inner-contents {
  padding: 7rem;
}
.about__header {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.about__text {
  line-height: 1.7;
  color: #8c8c8c;
}
@media screen and (max-width: 68.4em) {
  .about {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .about__image-box {
    width: 100%;
  }
  .about__about-contents {
    margin-left: 0px;
  }
  .about__about-contents .inner-contents {
    padding: 2rem;
  }
}

.creation__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10rem 0 5rem;
  font-family: "Josefin Sans", sans-serif;
}
.creation__header .text {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.creation__header .creation-btn {
  padding: 1.2rem 3rem;
  border: 1px solid black;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: white;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.creation__header .creation-btn:hover {
  background-color: black;
  color: white;
}
@media screen and (max-width: 50rem) {
  .creation__header {
    justify-content: center;
  }
  .creation__header .text {
    font-size: 4rem;
  }
  .creation__header .creation-btn {
    display: none;
  }
}
.creation__grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.creation__grid-box .creation-btn {
  display: none;
}
.creation__grid-box .article {
  position: relative;
  height: 50rem;
  cursor: pointer;
  transition: 300ms ease-in-out;
  overflow: hidden;
}
.creation__grid-box .article:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.575);
}
.creation__grid-box .article:hover {
  transform: scale(1.02);
}
.creation__grid-box .article:hover .article-content {
  color: black;
  z-index: 100;
}
.creation__grid-box .article-1 {
  background: url("/public/images/desktop/image-deep-earth.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.creation__grid-box .article-1 .article-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
}
.creation__grid-box .article-2 {
  background: url("/public/images/desktop/image-night-arcade.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.creation__grid-box .article-2 .article-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
}
.creation__grid-box .article-3 {
  background: url("/public/images/desktop/image-soccer-team.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.creation__grid-box .article-3 .article-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
}
.creation__grid-box .article-4 {
  background: url("/public/images/desktop/image-grid.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.creation__grid-box .article-4 .article-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
}
.creation__grid-box .article-5 {
  background: url("/public/images/desktop/image-from-above.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.creation__grid-box .article-5 .article-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
}
.creation__grid-box .article-6 {
  background: url("/public/images/desktop/image-pocket-borealis.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.creation__grid-box .article-6 .article-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
}
.creation__grid-box .article-7 {
  background: url("/public/images/desktop/image-curiosity.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.creation__grid-box .article-7 .article-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
}
.creation__grid-box .article-8 {
  background: url("/public/images/desktop/image-fisheye.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.creation__grid-box .article-8 .article-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
}
@media screen and (max-width: 70rem) {
  .creation__grid-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 68.4rem) {
  .creation__grid-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 50rem) {
  .creation__grid-box {
    grid-template-columns: 1fr;
  }
  .creation__grid-box .creation-btn {
    display: block;
    width: 20rem;
    font-size: 1.7rem;
    margin: 1rem auto;
    padding: 1.2rem 3rem;
    border: 1px solid black;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 5px;
    background-color: white;
    cursor: pointer;
    transition: 300ms ease-in-out;
  }
  .creation__grid-box .creation-btn:hover {
    background-color: black;
    color: white;
  }
  .creation__grid-box .article {
    height: 30rem;
  }
  .creation__grid-box .article .article-content {
    font-size: 4rem;
  }
  .creation__grid-box .article-1 {
    background: url("/public/images/mobile/image-deep-earth.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .creation__grid-box .article-2 {
    background: url("/public/images/mobile/image-night-arcade.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .creation__grid-box .article-3 {
    background: url("/public/images/mobile/image-soccer-team.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .creation__grid-box .article-4 {
    background: url("/public/images/mobile/image-grid.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .creation__grid-box .article-5 {
    background: url("/public/images/mobile/image-from-above.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .creation__grid-box .article-6 {
    background: url("/public/images/mobile/image-pocket-borealis.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .creation__grid-box .article-7 {
    background: url("/public/images/mobile/image-curiosity.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .creation__grid-box .article-8 {
    background: url("/public/images/mobile/image-fisheye.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

/*# sourceMappingURL=main.css.map */
